<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col >
          <ion-card>
          <ion-item style="outline-style: none;">
            <ion-input [(ngModel)]="Name"
            type="text" style="outline-style: none; ">
            </ion-input>
          </ion-item>
          <p>{{Name}}</p>
          <ion-item style="outline-style: none;">
            <ion-input [(ngModel)]="Password"
            type="password" style="outline-style: none;"></ion-input>
          </ion-item>
          <ion-button id ="btn-log" (click)="login()" expand="block">Login</ion-button>
          <ion-button id="btn-register" color="secondary" [routerLink]="'/register'">Register</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 </ion-content>

 <ion-router-outlet id="main-content" dir="auto"></ion-router-outlet>
</ion-app>
