<ion-header>
  <ion-header style="font-weight: bold; font-size:medium; margin-left: 20mm;">
    Add User
  </ion-header>
  <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-card>
            <ion-item style="outline-style: none;">
              <ion-input [(ngModel)]="Name" name="Name"
              type="text" style="outline-style: none; ">
              </ion-input>
            </ion-item>
            <ion-item style="outline-style: none;">
              <ion-input [(ngModel)]="Password" name="Password"
              type="password" style="outline-style: none;"></ion-input>
            </ion-item>
            <ion-button id="btn-add" (click)="onAddUser()"
            style="outline-style: none; color: blue; margin-left: 80%;">Add</ion-button>
            <p>{{registerStatus}}</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>

